*{
    margin:0;
    padding:0;
    
}

body{
    background-color:#e1f3ff;
}

.AM-advertise{
    padding: 8px;
    text-align: center;
}

.AM-main{
    display: flex;
    background-color:#e1f3ff;
    padding: 30px;
    justify-content: space-evenly;
    /* height: 424px; */
}

.AM-image-container{
    height: 415px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    text-align: center;
}

#img-panel{
    height: 415px;
    width: 415px;
    /* padding: 50px; */
}

.AM-loginForm{
    width: 600px;
    background-color:#fefefe;
    margin-left: 10px;
}

.AM-login_section_heading{
    display: flex;
}

.AM-login_section_heading div{
    width: 100%;
    text-align: center;
    padding: 20px 24px;
    flex-grow: 1;
}

.AM-login_section_heading a{
    width: 100%;
}

.AM-login_signup{
    display: flex;
    background-color: gainsboro;
    /* align-content: center; */
}

.AM-login_signup a{
    width: 100%;
}

a:hover .AM-signup{
    color: #00334c;
    text-decoration: underline;
}

.AM-signup{
    padding: 20px 24px;
    text-align: center;
    font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;;
    text-transform: uppercase;
    background: #e6e6e6;
    color: #a6a6a6;
    font-weight: 600;
}

.AM-active{
    background-color: #fff;
    color: #00334c;
}

.signup-form{
    /* display: none; */
    width: 568px;
    /* height: 336px; */
    padding: 16px;
} 

.signupform2{
    width: 568px;
    /* height: 90px; */
    margin-bottom: 16px;
}

.AM-fieldset{
    width: 568px;
    height: 66px;
    border: none;
}

.AM-formlabel{
    /* width: 50px; */
    /* height: 24px; */
    font-size: 1.5rem;
    margin: 0px 0px 8px;
}

.studentA{
    width: 48px;
    height: 25px;
    margin: 0px 16px 0px 8px;
}

.signupform2 #parent-instructions {
    font-style: italic;
    color: #333;
    font-size: .85rem;
}

.invisible{
    visibility: hidden;
    width: auto;
    height: auto;
}

.gradelevel{
    width: 100%;
    padding: 8px 24px 8px 8px;
    font-size: 17px;
    border-radius: 0.25rem;
    border: 1px solid #999;
}

.zip-code{
    margin-top: 16px;
    width: 100%;
    padding: 8px 24px 8px 8px;
    box-sizing: border-box;
    font-size: 17px;
    border: 1px solid #999;
    border-radius: 0.25rem;
}

.form-error {
    display: none;
    width: 100%;
    height: 18px;
    margin-bottom: 1rem;
    font-size: 12px;
    font-weight: 700;
    color: #cc4b37 ;
}

#join-button{
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    padding: 0.85em 1em;
    font-size: .825rem;
    text-transform: uppercase;
}

.button{
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #70af10;
    color: #fefefe;
}

p{
   display: block;
   width: 568px;
   height: 51px; 
   margin-bottom: 16px;
   line-height: 1.6;
   font-size: 17px;
}

a{
    line-height: inherit;
    color: #069;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

body{   
    font-weight: 400;
}

.login-form{
    width: 100%;    
    padding: 16px;
    box-sizing: border-box;
}

h3{
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.9375rem;
    font-style: normal;
    font-weight: 400;
}

form{
    display: block;
    width: 568px;    
}

[type=text],[type=password]{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 0.25rem;
    font-size: 1rem;
    border: 1px solid #999;
}

#button2{
    display: block;
    /* margin-top: 16px; */
    margin-bottom: 16px;
    width: 100%;
    padding: 0.85em 1em;
    font-size: .825rem;
    text-transform: uppercase;
}

.login-button{
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #f90;
    color: #fefefe;
}

.login_form{
    background-color: #fff;
    text-align: center;
    padding-bottom: 20px!important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}